/* ELEMENT SELECTORS */
/* TITLE  */
.contact-title {
  font-size: 200%;
  text-align: center;
  margin-bottom: 1em;
}

/* CONTACT HEADER */
.contact-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
}
.contact-email {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15em;
  width: 15em;
  box-shadow: 5px 5px 15px var(--dark-red);
}
.contact-github {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15em;
  width: 15em;
  box-shadow: 5px 5px 15px var(--dark-red);
}

.fa-envelope:hover{
    color: var(--light-blue);
}

.fa-github:hover{
    color: var(--light-blue);
}

/* CONTACT CARD  */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  width: 40em;
  padding: 1.5em;
  background-color: whitesmoke;
  border: solid 2px var(--light);
  border-radius: 10px;
}

#name,
#email,
#message {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

#message {
  height: 150px;
}

#contact-btn {
  background-color: var(--light-red);
  border: 2px solid var(--dark);
  color: var(--white);
  font-size: large;
  padding: 0.5em;
  width: 100%;
  border-radius: 4px;
}

#contact-btn:hover {
  background-color: transparent;
  border: 2px solid var(--light-red);
  color: var(--dark);
}

.contact-content h2 {
  margin-bottom: 0.6em;
  text-align: center;
}
